/* Replace #d57315 with the base color */
:root {
  --base-color: #d57315;
}

.contact-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  /* background-color: #f9f9f9; */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
  color: var(--base-color);
  text-align: left;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 5px;
  color: var(--base-color);
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form input[type="submit"] {
  background-color: var(--base-color);
  color: #fff;
  border: none;
  cursor: pointer;
}

.contact-form input[type="submit"]:hover {
  background-color: #b4500e;
}
